/* Styles 

// Colors:
Grey border: #222222
Green: #76b900

// Fonts
Header: GeForce-Light-Alt
Menu: DINPro-Regular
Titles: Geforce-Light
Descriptions: DINPro-Regular
Image descriptions: DINPro-Bold
Product titles: GeForce-Bold-Alt
Prices: DINPro-Regular
CTA: DINPro-Bold
*/

@font-face {
    font-family: "GeForce-Light-Alt";
    src: url("../fonts/geforce/GeForce-Light-Alt.otf");
  }

@font-face {
    font-family: "DINPro-Regular";
    src: url("../fonts/din/DINPro-Regular.otf");
  }

body {
    margin:0;
    padding:0;
}

.wrapper {
    margin:0 auto;
    width:100%;
    max-width: 1280px;
}

/* Header */
header {
    height:114px;
}

.top-bar {
    display:flex;
    align-items: center;
    margin:0 48px 0 22px;
    height:57px;
    width:100%;
}

.top-bar img {
    width:120px;
    height:21.8px;
}

.sub-bar {
    background:#000000;
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:59px;
    width:100%;
}

.title {
    font-size:32px;
    font-family: "GeForce-Light-Alt";
    margin:0 48px 0 22px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding:0;
}

.menu {
    font-family: "DINPro-Regular";
    text-transform: uppercase;
    font-size: 16px;
}

.menu li {
    margin-right:2.5rem;
}

/* Block 1: Half Half */
.half-half {
    display:flex;
}

.block-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height:495px;
    width: 50%;
    border-top:4px solid #222222;
    border-right:4px solid #222222;
    border-bottom:4px solid #222222;
}

.block-half:nth-child(2) {
    border-right:none;

}