/* Styles 

// Colors:
Grey border: #222222
Green: #76b900

// Fonts
Header: GeForce-Light-Alt
Menu: DINPro-Regular
Titles: Geforce-Light
Descriptions: DINPro-Regular
Image descriptions: DINPro-Bold
Product titles: GeForce-Bold-Alt
Prices: DINPro-Regular
CTA: DINPro-Bold
*/

@font-face {
    font-family: "GeForce-Light-Alt";
    src: url("../fonts/geforce/GeForce-Light-Alt.otf");
  }

@font-face {
    font-family: "GeForce-Light";
    src: url("../fonts/geforce/GeForce_Light.otf");
  }

@font-face {
    font-family: "GeForce-Bold-Alt";
    src: url("../fonts/geforce/GeForce-Bold-Alt.otf");
  }

@font-face {
    font-family: "DINPro-Regular";
    src: url("../fonts/din/DINPro-Regular.otf");
  }

@font-face {
    font-family: "DINPro-Bold";
    src: url("../fonts/din/DINPro-Bold_0.otf");
  }

body,h2 {
    margin:0;
    padding:0;
}

.wrapper {
    margin:0 auto;
    width:100%;
    max-width: 1280px;
}

.green {
    color:#76b900;
}

a {
    text-decoration: none;
}

/* Header */
header {
    height:114px;
}

.top-bar {
    display:flex;
    align-items: center;
    margin:0 48px 0 22px;
    height:57px;
    width:100%;
}

.top-bar img {
    width:120px;
    height:21.8px;
}

.sub-bar {
    background:#000000;
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:59px;
    width:100%;
}

.title {
    font-size:32px;
    font-family: "GeForce-Light-Alt";
    margin:0 48px 0 22px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding:0;
}

.menu {
    font-family: "DINPro-Regular";
    text-transform: uppercase;
    font-size: 16px;
}

.menu li {
    margin-right:2.5rem;
}

/* Block 1: Half Half */
.half-half {
    display:flex;
}

.block-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)), 
        url("../img/1.png");
    background-size:cover;
    color:#FFFFFF;
    height:495px;
    width: 50%;
    border-top:4px solid #222222;
    border-right:4px solid #222222;
    border-bottom:4px solid #222222;
}

.block-half:nth-child(2) {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)), 
        url("../img/2.png");
    background-size: cover;
    border-right:none;
}

.block-half h2 {
    font-family: "GeForce-Bold-Alt";
    text-transform: uppercase;
    font-size:40px;
    line-height: 40px;

}

h2 span {
    display:block;
    text-align: center;
}

.block-half p {
    color:#76b900;
    font-size:16px;
    font-family: "DINPro-Bold";
    text-transform: uppercase;
}

/* BLOCK 2A: FULL */
.full {
    background-color: #000000;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.back-to-top {
    color:#222222;
    font-family: "DINPro-Regular";
    line-height: 16px;
    display: flex;
    font-size:12px;
    justify-content: flex-end;
    text-transform: uppercase;
    margin:20px 31px 0 0;
}

.back-to-top a {
    color:#222222;
}

.fa-chevron-up {
    font-weight:900;
    font-size:16px;
    margin-left: 6px;
}

.full h1 {
    font-family: "GeForce-Light";
    font-size: 64px;
    font-weight:300;
    text-transform: uppercase;

    margin:63px 0 0 0;
    text-align: center; /*Another option would be to wrap the h1 and paragraph in div and use flex, but didn't want to nest too much ;)*/
}


.full p {
    font-family: "DINPro-Regular";
    font-size:16px;

    text-align: center;
    margin:34px 113px 42px 115px;
}

.full-img {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin:0 240px 0 321px;
}

.full-img img {
    max-width:100%;
    height:auto;
    /* width:100vw;
    max-width:718px;
    max-height:557.8px; */
    margin:0px 240px 0px 321px;
}

.info-box h3 {
    color:#76b900;
    font-family:"DINPro-Bold";
    font-size:16px;
    line-height: 24px;
    margin:0;
}

.info-box p {
    text-align: left;
    margin:0;
}

.info-box {
    border: solid 1px #76b900;
    display:flex;
    flex-direction: column;
    margin-top:21.3px;
    padding:12.4px 14px 12.4px 19.1px;
    max-width:752px;
}

/* BLOCK 2B: FULL */

.full-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-desc h2 {
    font-family: "GeForce-Bold-Alt";
    font-size:32px;
    line-height:16px;
    margin:51px 0px 46px 0px;
    text-align: center;
}

.full-desc p {
    text-align: center;
    margin:0px 134px 29.4px 132px;
}

p.price {
    margin:0 0 17.6px;
    font-family: "DINPro-Bold";
    font-size:24px;
}

.small-text {
    font-family: "DINPro-Regular";
    font-size:12px;
    margin:0;
}

.cta-btn {
    background-color:#76b900;
    font-size:16px;
    font-family:"DINPro-Bold";
    color:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width:112px;
    height:30px;
    margin-bottom:28px;
}

/* BLOCK 3C: MORE-HALF */
.more-half h2 {
    font-family: GeForce-Bold-Alt;
    font-size:32px;
    margin:0px 36px 16px 217px;
    text-align: right;
}

.more-half-less p {
    text-align: right;
    font-family: "DINPro-Regular";
    font-size:16px;
    line-height: 24px;
    margin:0px 36px 20px 110px; /* left original 95px*/
}

.more-half {
    border-bottom:4px solid #222222;
    color:#FFFFFF;
    background: #000000;
    display:flex;
    align-items: center;
}

.more-half-less {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}


.more-half-more img {
    max-width:100%;
    height:auto;
}

p.price {
    font-family: "DINPro-Bold";
    font-size:24px;
    margin-bottom:15px;
    font-weight:900;
}

.more-half-less .cta-btn {
    margin:0px 36px 0px 0px;

}

/* BLOCK 4a: FULL-TEXT */

.full-two h1 {
    margin:44px 0 0 0;
}

.full-two p {
    margin:7px 277px 77px 278px;
}

/* BLOCK 4b: MORE HALF LEFT */
.more-half-two {
    background: #000000;
    color:#FFFFFF;
    display:flex;
    border-bottom:4px solid #222222;

}

.more-half-left {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:640px;
    margin-left:80px;
}

.more-half-left img {
    max-width:640px;
    width:100%;
    height:auto;
}


.less-half-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:560px;
}

.less-half-right h2 {
    font-family: "GeForce-Bold-Alt";
    margin-left:14px; 
}

.less-half-right p {
    font-family: "DINPro-Regular";
    margin-left:15px;
}

.more-half-two .cta-btn {
    margin-left:16px;
}

/* BLOCK 4C: More right, less left */

/* SKIPPED */

/* BLOCK 5: Individual Boxes */
.boxes h1 {
    margin:96px 0 22px 0;
}
.boxes p {
    margin:0 317px 74px 318px;
}

.boxes {
    background: url("../img/7bg.png");
    background-size: cover;
}

.flex-boxes p {
    margin:0;
    padding:0;
}

.flex-boxes {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom:30px;
}

.box h2 {
    display:flex;
    align-items: center;
    color:#76b900;
    font-family: "GeForce-Bold-Alt";
    font-size:40px;
    line-height:40px;
    padding:2px;
}

.box p {
    display: flex;
    align-items: center;
    padding:11px 95px;
}



@media screen and (max-width: 1170px) {
  

    .full-two > p {
        margin:7px 100px 77px 100px;
    }

    .more-half-left img {
    width:100%;
    height:auto;
    }

    .boxes > p {
        margin:7px 100px 77px 100px;
    }
}